{% extends 'basic.html' %}
{% load static %}

{% block meta %}
<title>Add people</title>
{% endblock meta %}

{% block content %}
<body style="background: #636669;">
    {% include 'includes/navbar.html' %}
    <h1 class="container top-header" style="color: aliceblue;">
        <hr class="hrlight">Activity<hr class="hrlight"></h1>
        <div class="container">
    <div style="color: aliceblue;">
   <h3 style="margin-bottom: 3%;">Input your profile</h3>
   <form method="POST">
    {% csrf_token %}
    <table>
        {{ par_form.as_table }}
    </table>
    <button type="submit" class = "btn btn-dark btn-block"style="margin-top: 3%;">Submit</button>
   </form>
</div>
<div style="margin-top: 5%;">
   <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nama Siswa</th>
        <th scope="col">Nomor Telepon</th>
      </tr>
      </thead>
      <tbody>
          {% for pe in peserta %}
          <tr>
              {% if pe.activity == parti %}
              <th scope="row">{{pe.name}}</th>
              <th scope="row">{{pe.contact_number}}</th>
              {% endif %} 
          </tr>
      </tbody>
      {% endfor %}
   </table>
</div>
</div>
</body>
{% endblock content %}