{% extends 'basic.html' %}
{% load static %}

{% block meta %}
<title>Inspiration</title>
{% endblock meta %}

{% block content %} 
<body>
    {% include 'includes/navbar.html' %}
    <h5>Penting buat care sama orang; ga cuma outputnya.</h5>
    <h5>Struggling sewajarnya bisa ngebantu lo buat berkembang.</h5>
    <h5>Basic communicating: seek to understand, then to be understood.</h5>
    <h5>Stop thinking that people who communicate a lot have a lot of friends.</h5>
    <h5>If you're too confused about the many choices, ask yourself first.
        \n bakal lebih bagus if u choose something on ur own will.</h5>
    <h5>embrace the fact that you're being nervous about things.</h5>
    <h3>Being empathic is necessary.</h3>
    <div style="padding: 250px 0px 170px;"></div>
        <div>
            <h4 style="text-align: center;">This is a clean, blank space.<br>If you were 5 years old,
            what would you put in this space?<br>Would you still do the same if you were 50 years old?</h4>
        </div>
</body>
{% endblock content %}