{% extends 'basic.html' %}
{% load static %}

{% block meta %}
<title>Main page</title>
{% endblock meta %}

{% block content %} 
<body id="welcome">
    <div class="main-page">
        <h1 style="font-size: 5.5vw; margin-top: 15%;">WELCOME TO</h1>
        <h2 style="margin-top: 5%;">NUR HAFSARI'S PROFILE WEBPAGE</h2>
        <div>
        <h3 style="margin-top: 16%; font-size: 2.6vw;">GET TO KNOW ABOUT ME</h3>
            <table class="menu" style="margin-top: 4%; margin-bottom: 5%;">
                <tr>
                    <td style="text-align: center; font-size: 3vw; padding: 5px 15px 5px;">
                        <a href="/profile" class="btn btn-big">PROFILE</a>
                    </td>
                    <td style="text-align: center; font-size: 3vw; padding: 5px 15px 5px;">
                    <a href="/porto" class="btn btn-big">WORKS</a>
                    </td>
                    <td style="text-align: center; padding: 5px 15px 5px;">
                    <a href="/exp" class="btn btn-big">EXPERIENCES</a>
                    </td>
                </tr>
                <tr>
                    <td><p style="font-size:small center; padding: 5px 15px 5px;">About me in 2 paragraphs</p></td>
                    <td><p style="font-size:small center; padding: 5px 15px 5px;">Works that I've done so far</p></td>
                    <td><p style="font-size:small center; padding: 5px 15px 5px;">Including my education and skills</p></td>
                </tr>
            </table>
        </div>
        <div>
            <a href="/prompt" class="btn btn-smol">I want to find idea</a>
        </div>
            <div class="contact-main">
            <h3 style="margin-top: 7%;">Find me at:</h3>
            <table class="menu" style="margin-top: 3%;">
                <tr>
                    <td><a href="https://www.linkedin.com/in/nurhafsaris/" class="fa fa-linkedin"></a></td>
                    <td><a href="https://www.twitter.com/setygrean/" class="fa fa-twitter"></a></td>
                    <td><a href="https://www.instagram.com/nrhfsrs/" class="fa fa-instagram"></a></td>
                </tr>
            </table>
            </div>
        </div>
        <div id="footer">
            This website is meant to finish Story 4 in Web Design and Development course @Fasilkom UI.
          </div>
    </body>
{% endblock content %}